.appbar-main {
  .appbar {
    display: "flex";
    flex-direction: "row";
    justify-content: space-between;
    align-items: start;
    padding: 8px;
  }
  .firstdiv {
    display: "flex";
    flex-direction: "row";
    justify-content: flex-start;
    align-items: start;
  }
  
}
